/* default */
body, html {
	height: 100%;
	font-family: 'Bauhaus 93 Regular', sans-serif;
	background: rgb(224, 224, 209);
}

body, html, body, h1, ul, header {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
}


/* end default */


/* navbar */

#navbar {
	height: 50px;
	border-bottom: 1px solid black;
	background: rgba(50, 50, 50, 1);
	position: fixed;
	width: 100%;
	z-index: 1000000;
	}

#navbar .flexContainer {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
}

#navbar .flexContainer ul {
	display: flex;
	list-style: none;
}

#navbar .flexContainer li {
	padding-left: 30px;
}

#navbar .flexContainer h2 a{
	color: white; 
	font-size: 30px;
	font-family: 'Righteous', cursive;
}

#navbar .flexContainer li a {
	font-family: 'Russo One', sans-serif;
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px black;	
	letter-spacing: 2px;
}

#navbar .divider {
	margin-right: 40px;
}

#navbar .flexContainer li a:hover {
	animation: changeColor 1s;
	animation-fill-mode: forwards;
}


#navbar > .flexContainer > .nav .active, #navbar > 
.flexContainer > .dropdown .active {
	color: #b08c4f;
}


#navbar ul:nth-of-type(2) {
	display: none;
}


/* animation */

@keyframes changeColor{
	to {
		color:  #b08c4f;
		text-shadow: 1px 1px black;
	}
}

/* end animation */




@media (max-width: 770px) {
	#navbar ul:nth-of-type(1) {
		display: none;
	}

	#navbar ul:nth-of-type(2) {
		display: inline-block;
		position: relative;

	}

	#navbar .dropNav {
		display: none;
		position: absolute;
		right: 0;
		background-color:rgba(50, 50, 50, 1);
		box-shadow: 0 8px 16px 0;
		min-width: 150px;
		opacity: 0.9;
	}

	#navbar .dropNav a {
		display: block;
		width: 75%;
		border-bottom:1px solid black;
		text-align: center;
		margin: 10px 0 10px 0;
	}

	#navbar #burgermenu {
		width: 45px;
		height: 45px;
	}
	

	#navbar .dropdown:hover .dropNav {
		display: block;
	}


	
	




}

/* end navbar */

/* main content */


.introContent {
	font-size: 50px;
	font-family: 'Righteous', cursive;
  	min-height: 75%;
  	background-image: url("bg.jpg");
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	padding-top: 50px;	
}

.introContent h1 {
	text-align: center;
	color: white;
	text-shadow: 1px 1px black;
}

.introContent .scrollDown {
	font-size: 20px;
	height: 70px;
	width: 400px;
	position: absolute;
	text-align: right;
	background: linear-gradient(135deg, transparent 40px, rgb(224, 224, 209) 0);
	right: 0;
	bottom: 0;
}

.introContent .scrollDown h3 {
	padding:5px 15px 0 0;
}
.topContent .selectStyle {
	background-color: rgba(50, 50, 50, 0.3);
	border-radius: 3px;
	margin-top: 10px;
	height: 30px;
	font-weight: 700;
}

.topContent {
	margin:25px 15px 0 15px;
	display: flex;
	width: 50%;
}

.topContent > div {
	flex-grow: 1;
}


.userData {
	height: 40px;
	padding-top: 50px;
	display: flex;
}
.userData div {
	flex-grow: 1;
	margin-right: 15px;
}

.userData .login {
	padding-top:10px;
}

.userData .password, .userData .email, .userData #loginSubmit, .userData .rememberMe {
	margin-left: 15px;

}

.userData .rememberMe {
	font-size: 12px;
	padding: 0;
	margin:0;
}

.middleContent {
	min-height: 40%;
}

.middleContent .productDisplay {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}

.middleContent .productDisplay div {
	flex-grow: 1;
	width: 350px;
	height: 350px;
	margin: 10px;
	justify-content: space-between;
	background: white;
	border: 1px solid black

}

.middleContent .productDisplay div h3 {
	font-size: 50px;
	margin: 0;
	text-align: center;
	color: white;
	height: 100%;
	text-shadow: 1px 1px black;
	opacity: 0.9;
}

.middleContent .productDisplay div h3:hover::after{
	content: "View Product";
	font-family: 'Righteous', cursive;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
}

.middleContent .productDisplay div h3:hover {
	background-color: rgba(10, 10, 10, 0.5);
}



.middleContent div:first-of-type div:first-of-type {
	background-image: url("product1.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.middleContent div:first-of-type div:nth-of-type(2) {
	background-image: url("product2.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.middleContent div:first-of-type div:nth-of-type(3) {
	background-image: url("product3.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.middleContent div:first-of-type div:nth-of-type(4) {
	background-image: url("product4.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.middleContent div:first-of-type div:nth-of-type(5) {
	background-image: url("product5.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.middleContent div:first-of-type div:nth-of-type(6) {
	background-image: url("product6.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.middleContent div:first-of-type div:nth-of-type(7) {
	background-image: url("product7.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.middleContent div:first-of-type div:nth-of-type(8) {
	background-image: url("product8.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.middleContent div:first-of-type div:nth-of-type(9) {
	background-image: url("product9.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}


.middleContent .pager {
	display: flex;
	justify-content: center;
}

.middleContent .pager div {
	flex-grow: 1;
	text-align: center;
	background: rgba(50, 50, 50, 1);
	color: white;
	border-radius: 5px;
	font-size: 20px;
	justify-content: space-between;
	max-width: 50px;
	margin: 5px 2px 10px 2px;

}

.middleContent .pager div:hover {
	background-color: rgba(10, 10, 10, 1);
}


.middleContent a {
	color: white;
}

.middleContent #currentPage {
	background-color: rgba(10, 10, 10, 1);
}



.userData2 {
	display: none;
}

@media (max-width: 800px) {
	.scrollDown {
		display: none;
	}
	.middleContent .productDisplay div h3:hover::after{
	display: none;
	}
}

@media (max-width: 615px) {
	.userData {
		display: none;
	}
	.userData2 {
		display: block;
		padding-top: 54px;
		height: 120px;
		padding-left: 10px;
	}
}

@media (max-width: 440px) {
	.topContent {
		font-size: 10px;
	}
}

@media (max-width: 770px) {
	.topContent {
		width: 90%;
	}
}


/* end main content */

/* footer */

footer {
	display: flex;
	padding: 0;
	background: rgba(50,50,50, 1);
	color: white;
	z-index: 10000;
}

footer div {
	flex-grow: 1;
	text-align: center;
}

footer div a {
	color:white;
}

footer div h1 {
	font-size: 20px;
	padding-top: 15px;
}


@media (max-width: 570px) {
	footer {
		flex-direction: column;

	}
}

/* end footer */
